:root {

}

body {
    background-color: lightsteelblue;
    font-family: 'Nunito Sans', sans-serif;

}

h1 {
    color: seagreen;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    color: seagreen;
    text-align: center;
    font-size: 25px;
    }

h3  {
    color: seagreen;
    text-align: center;
    font-size: 25px;
    }  


p {
    color: rgb(41, 57, 71);
    text-align: center;
    font-size: 21px;
}

.box-feel {
    text-align: center;

}

.link-display {
    text-align: center;
    font-size: 25px;
    border-color: olive;
    background-color: lightskyblue;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    margin: 10px 10px 10px 10px;
    padding: 15px 10px 15px 10px;
}

.text-box {
    text-align: center;
    font-size: 10px;
    border-style:groove;
    border-color: steelblue;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 70px;
}

.answer-box {
    text-align: center;
    font-size: 10px;
    border-style:groove;
    border-color: steelblue;
    background-color: peru;
    border-radius: 20px;
    margin-top: 15px;
}

#box-view {
     width: 80%;
     height: 25%;
}


#return-button {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}

